@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #201533;
    height: fit-content;
    color: #ffffff;
}

header {
    width: 100%;
    height: fit-content;
    margin: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    height: 10vh;
}

.header-nav {
    display: flex;
    align-items: center;
    overflow: hidden;
}

nav {
    display: flex;
    gap: 10px;
}

nav ul{
    display: flex;
    list-style: none;
}

.nav-menu {
    display: none;
}

#navbar li, a{
    padding: 5vh 2vh 5vh 2vh;
    text-decoration: none;
    font-weight: bolder;
    color: #201533;
    transition: 0.3s;
}
#navbar .nav-a a:hover {
    color: #ffffff;
    background-color: #201533;
}

#sidebar {
    display: none;
    position: fixed;
    padding: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 65%;
    z-index: 10;
    background-color: #ffffffe3;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px #0000002f;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#sidebar li{
    width: 100%;
    padding: 5vh 0 5vh 0vh;
    margin: 0 0 2vh 0;
}

#sidebar a {
    width: 100%;
    text-decoration: none;
    color: #201533;
    padding: 5vh 100% 5vh 5vh;
    transition: 0.3s;
}

#sidebar a:hover {
    color: #ffffff;
    background-color: #201533;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 10vh;
    gap: 50px;
}

p {
    margin: 0 20px 0 20px;
    max-width: 860px;
}

#membros {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards {
    white-space: nowrap;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #252446;
    outline: 3px solid #ffffff;
    margin: 3vh;
    height: fit-content;
    width: fit-content;
}

.cards img {
    border-radius: 10px;
    height: clamp(min(10rem, 20rem), 50vh, max(30rem, 40rem));
}

.cards a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.cards a img{
    height: 26px;
    margin-bottom: -7px;
}

footer {
    display: flex;
    background-color: #ffffff;
    color: #201533;
    padding: 1vh;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
}

footer img {
    height: 5vh;
}

button {
  border: none;
  outline: none;
  color: #fff;
  background-color: #1e579c;
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 32px;
  transition: 0.5s;
}

button:hover {
  background-color: #0ce6f2;
}

#goBackBtn {
  display: none;
  position: fixed;
  bottom: 8vh;
  right: 3vh;
  z-index: 99;
}

@media(max-width: 1280px) {
    #logoDoTime img {
        scale: 0.75;
    }
}

@media(max-width: 800px) {

    #logoDoTime img {
        scale: 0.5;
    }

    .hideOnMobile {
        display: none;
    }
    .nav-menu{
        display: block;
    }
}